@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px">
        <b>Library</b>
    </div>
    <div>
        <pre>
            Salam!
                Bizi secdiyiniz ucun tesekkur edirik.
              Zehmet olmasa mail adresinizi testiklemek ucun klik edin. 
              click<a href="@ViewBag.ConfirmationLink">Bura</a>  
</pre>
    </div>
</body>
</html>
